@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
      <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
      <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
      <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
	<title>
        @CurrentPage.pageTitle | @CurrentPage.siteName
    </title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="container">
            @RenderBody()
        </div>
    </div>
  </body>
</html>