<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1054" key="32a34301-0305-44fb-866a-bf366f7f0eef" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-01T16:36:24" updateDate="2016-02-02T16:22:48" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Alex" writerName="Alex" writerID="0" template="1052" nodeTypeAlias="Home">
    <BlogPost id="1059" key="5dd149f3-5097-4d24-8022-a2a5d6409efe" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-02-02T11:15:14" updateDate="2016-02-02T16:22:48" nodeName="2016-02-02" urlName="2016-02-02" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="Alex" writerName="Alex" writerID="0" template="1057" nodeTypeAlias="BlogPost">
      <content><![CDATA[<p>Testing</p>
<p>First page</p>]]></content>
      <blogTitle><![CDATA[Testing]]></blogTitle>
    </BlogPost>
    <BlogPost id="1060" key="e942560f-059e-4b89-bdaf-a6b649d9f7ae" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-02-02T14:14:48" updateDate="2016-02-02T16:22:48" nodeName="2016-02-02 2" urlName="2016-02-02-2" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="Alex" writerName="Alex" writerID="0" template="1057" nodeTypeAlias="BlogPost">
      <content><![CDATA[<p>CONTENT !!! OMG</p>]]></content>
      <blogTitle><![CDATA[Some Title Here]]></blogTitle>
    </BlogPost>
    <BlogPost id="1061" key="f381005c-e1b7-4fe1-be0b-9463f822bb37" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-02-02T14:16:13" updateDate="2016-02-02T16:22:48" nodeName="another blag post" urlName="another-blag-post" path="-1,1054,1061" isDoc="" nodeType="1058" creatorName="Alex" writerName="Alex" writerID="0" template="1057" nodeTypeAlias="BlogPost">
      <content><![CDATA[<p>lookit all the contents</p>]]></content>
      <blogTitle><![CDATA[wow more blag]]></blogTitle>
    </BlogPost>
    <BlogPost id="1062" key="b66d3902-a80d-4654-bb15-ae7f9513bfe3" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-02-02T14:17:45" updateDate="2016-02-02T16:22:48" nodeName="pow" urlName="pow" path="-1,1054,1062" isDoc="" nodeType="1058" creatorName="Alex" writerName="Alex" writerID="0" template="1057" nodeTypeAlias="BlogPost">
      <content><![CDATA[<p>bam bam bam</p>]]></content>
      <blogTitle><![CDATA[swish]]></blogTitle>
    </BlogPost>
  </Home>
</root>